@import 'variables';

.main-wrap {
  height: 200vh;
}

.main-wrap::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 845px;
  height: 200vh;
  z-index: -1;
  background: url('../../styles/bg.svg');
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 45px 50px;
  font-family: 'Raleway', sans-serif;
}

.logo {
  line-height: 1;
}

.nav-list {
  
  li {

    a {
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      letter-spacing: 2px;

      &:hover {
        border-bottom: 2px solid $black;
      }
    }
  }
}